@inherits LayoutComponentBase

<div class="game-container">
    <header class="game-header">
        <NavMenu />
    </header>

    <main class="game-main">
        @Body
    </main>
</div>
